/CanvasProvider.class
/CanvasTypeNotSupportedException.class
/ColourNotSetException.class
/ICanvas.class
/ICanvasProvider.class
/IShape.class
/Line.class
/Main.class
/PixelInfo.class
/PrinterCanvas.class
/ScreenCanvas.class
/Square.class
